<app-navbar></app-navbar>

<h1 class=""> Selecione os ingredientes </h1>

<br><br>

<form role="form" #hamburgerForm="ngForm" (ngSubmit)="onSubmit(hamburgerForm)">

    <div class="row">

        <h3 id="NonMeat" class="PanelHeading"> Pão </h3>

        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0">
            <div class="card">
                <!-- <input type="checkbox" id="item_24"  name="pao.selected" [(ngModel)]="order.pao.selected" (change)="updateCost()" (click)="order.pao.selected = false"> -->
                <img class="card-img-top" src="{{ url.pao }}" />
                <div class="card-body">
                    <h5><b> {{ name.pao }} </b> </h5>
                    <div class="d-flex flex-row my-2">
                        <div class="text-muted">R$ {{ price.pao }} /pick
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 id="NonMeat" class="PanelHeading"> Selecione os Vegetais e Queijos </h3>

        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-0" *ngFor="let product of data.product">
            <div *ngIf="product.id != 25">
                <div *ngIf="product.nonmeat == true">
                    <div class="card">
                        <input type="checkbox" id="{{ product.id }}" name="{{ product.name }}">
                        <label for="{{ product.id }}"><img class="card-img-top" src="{{ product.urlimg }}" /></label>
                        <div class="card-body">
                            <h5><b> {{ product.name }} </b> </h5>
                            <div class="d-flex flex-row my-2">
                                <div class="text-muted">R$ {{ product.price }} /pick
                                    <select id="qty_0" class="weight" name="{{ product.quantity }}">
                                        <option value="1" selected="selected">
                                            Normal
                                        </option>
                                        <option value="2">
                                            Doble
                                        </option>
                                        <option value="3">
                                            Triple
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 id="Protein" class="productTopping"> Selecione a Proteína </h3>

        <!-- Force next columns to break to new line -->
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1" *ngFor="let product of data.product">

            <div *ngIf="product.protein == true">
                <div class="card">
                    <input type="checkbox" id="{{ product.id }}" name="{{ product.name }}">
                    <label for="{{ product.id }}"><img class="card-img-top" src="{{ product.urlimg }}" /></label>
                    <div class="card-body">
                        <h5><b> {{ product.name }} </b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">R$ {{ product.price }} /pick
                                <select id="qty_0" class="weight" name="{{ product.quantity }}">
                                    <option value="1" selected="selected">
                                        Normal
                                    </option>
                                    <option value="2">
                                        Doble
                                    </option>
                                    <option value="3">
                                        Triple
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h3 id="French-fries" class="productTopping"> Escolha a sua batata </h3>

        <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1" *ngFor="let product of data.product">

            <div *ngIf="product.potatoes == true">
                <div class="card">
                    <input type="checkbox" id="{{ product.id }}" name="{{ product.name }}">
                    <label for="{{ product.id }}"><img class="card-img-top" src="{{ product.urlimg }}" /></label>
                    <div class="card-body">
                        <h5><b> {{ product.name }} </b> </h5>
                        <div class="d-flex flex-row my-2">
                            <div class="text-muted">R$ {{ product.price }} /pick
                                <select id="qty_0" class="weight" name="{{ product.quantity }}">
                                    <option value="1" selected="selected">
                                        Normal
                                    </option>
                                    <option value="2">
                                        Doble
                                    </option>
                                    <option value="3">
                                        Triple
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <h3 id="Drink" class="productTopping"> Seleccione sua Bebida </h3>

            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1" *ngFor="let product of data.product">

                <div *ngIf="product.drink == true">
                    <div class="card">
                        <input type="checkbox" id="{{ product.id }}" name="{{ product.name }}">
                        <label for="{{ product.id }}"><img class="card-img-top" src="{{ product.urlimg }}" /></label>
                        <div class="card-body">
                            <h5><b> {{ product.name }} </b> </h5>
                            <div class="d-flex flex-row my-2">
                                <div class="text-muted">R$ {{ product.price }} /pick
                                    <select id="qty_0" class="weight" name="{{ product.quantity }}">
                                        <option value="1" selected="selected">
                                            Normal
                                        </option>
                                        <option value="2">
                                            Doble
                                        </option>
                                        <option value="3">
                                            Triple
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <h3 id="Sauce" class="productTopping"> Seleccione o Molho </h3>

    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1" *ngFor="let product of data.product">

        <div *ngIf="product.sauce == true">
            <div class="card">
                <input type="checkbox" id="{{ product.id }}" name="{{ product.name }}">
                <label for="{{ product.id }}"><img class="card-img-top" src="{{ product.urlimg }}" /></label>
                <div class="card-body">
                    <h5><b> {{ product.name }} </b> </h5>
                    <div class="d-flex flex-row my-2">
                        <div class="text-muted">R$ {{ product.price }} /pick
                            <select id="qty_0" class="weight" name="{{ product.quantity }}">
                                <option value="1" selected="selected">
                                    Normal
                                </option>
                                <option value="2">
                                    Doble
                                </option>
                                <option value="3">
                                    Triple
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </div>

   




    <input type="text" id="total" name="total" value="$ 0" readonly="readonly">

    <div class="">
        <button type="submit" class="btn btn-default btn-lg">Enviar</button>
    </div>

    <!-- <a href="/carrito" class="btn btn-danger" role="button" aria-pressed="true">COMPRAR</a> -->

</form>