<app-navbar></app-navbar>

{{ products | json }}
<p>products works!</p>

<a href="/carrito" class="btn btn-danger" role="button" aria-pressed="true">COMPRAR</a>

<h2 class=""> Selecione os ingredientes </h2>

<br><br>

<h3 id="NonMeat" class="PanelHeading"> Selecione os Vegetais e Queijos </h3>
<form role="form" #hamburgerForm="ngForm"  (ngSubmit)="onSubmit(hamburgerForm)">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
        <div class="card">
            <input type="checkbox" id="item_0"  name="tomate.selected" [(ngModel)]="order.tomate.selected" (change)="updateCost()">
            <label for="item_0"><img class="card-img-top" src="https://picsum.photos/id/1/150/100" /></label>
            <div class="card-body">
                <h5><b>Tomate</b> </h5>
                <div class="d-flex flex-row my-2">
                    <div class="text-muted">R$ {{ price.tomate }} /pick 
                        <select id="qty_0" class="weight" name="tomate.quantity" [(ngModel)]="order.tomate.quantity" (change)="updateCost()">
                            <option value="1" selected="selected">
                                Normal
                            </option>
                            <option value="2">
                                Doble
                            </option>
                            <option value="3">
                                Triple
                            </option>
                        </select></div>
                </div>

                here {{ order.tomate.selected }}

                <!-- <button class="btn w-100 rounded my-2">Add to cart</button> -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
        <div class="card">
            <input type="checkbox" id="item_1"  name="cebola.selected" [(ngModel)]="order.cebola.selected" (change)="updateCost()">
            <label for="item_1"><img class="card-img-top" src="https://picsum.photos/id/1/150/100" /></label>
            <div class="card-body">
                <h5><b>{{ products.name}}</b> </h5>
                <div class="d-flex flex-row my-2">
                    <div class="text-muted">R$ {{ price.cebola }} /pick 
                        <select id="qty_1" class="weight" name="cebola.quantity" [(ngModel)]="order.cebola.quantity" (change)="updateCost()">
                            <option value="1" selected="selected">
                                Normal
                            </option>
                            <option value="2">
                                Doble
                            </option>
                            <option value="3">
                                Triple
                            </option>
                        </select></div>
                </div>

                <!-- <button class="btn w-100 rounded my-2">Add to cart</button> -->
            </div>
        </div>
    </div>


</div>

<h3 id="Protein" class="productTopping"> Selecione a Proteína </h3>

<h3 id="Sauce" class="productTopping"> Seleccione o Molho </h3>

<h3 id="French-fries" class="productTopping"> Escolha a sua batata </h3>

<h3 id="Drink" class="productTopping"> Seleccione sua Bebida </h3>

<input type="text" id="total" name="total" value="$ 0" readonly="readonly">

    <div class="">                        
        <button type="submit" class="btn btn-default btn-lg" >Enviar</button>
    </div> 

</form>