<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Endereço</h3>
                    <ul>
                        <li>05224 Ziemann Crest, Suite 413</li>
                        
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contato</h3>
                    <ul>
                        <li>(49) 99967-3577</li>
                        <li>(19) 98800-5300</li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Hamburguer Cart</h3>
                    <p>Somos uma empresa que se dedica a agradar aos nossos clientes com alimentos da melhor qualidade, é um prazer atendê-lo.</p>
                </div>
               <div class="col item social"></div>
            </div>
            <p class="copyright">Iramar e Wilfredo © 2021</p>
        </div>
    </footer>
</div>

