.barraNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fab829ef;
    color: rgb(241, 8, 8);
    font-weight: 600;
    box-shadow: 5px;
  }