<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Hamburger Pick Me</a>
       <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSite"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <div class="collapse navbar-collapse justify-content-end" id="navbarSite">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">PAGINA PRINCIPAL</a>
          </li>
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link">CARRINHO</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
